.u-section-1 .u-sheet-1 {
  min-height: 93px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 20px;
  margin-top: 20px;
} .u-section-2 {
  min-height: 500px;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 110px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-3 .u-container-layout-2 {
  padding: 29px 60px;
}

.u-section-3 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 280px;
  min-width: 120px;
  margin: 0 auto;
}

.u-section-3 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-3 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-icon-3 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-3 .u-icon-4 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-3 .u-icon-5 {
  height: 100%;
  color: rgb(203, 32, 39) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 91px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 102px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 204px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 102px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 64px;
  }
} .u-section-4 {
  min-height: 412px;
}

.u-section-4 .u-form-1 {
  width: 570px;
  left: auto;
  right: 0;
}

.u-section-4 .u-icon-1 {
  width: 40px;
  height: 40px;
  margin: 9px auto 0 calc(((100% - 1140px) / 2) + -20px);
  padding: 0;
}

.u-section-4 .u-icon-2 {
  width: 40px;
  height: 40px;
  margin: -42px auto 0 calc(((100% - 1140px) / 2) + -20px);
  padding: 0;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  font-size: 1.125rem;
  margin: -33px auto 0 calc(((100% - 1140px) / 2) + 41px);
}

.u-section-4 .u-icon-3 {
  width: 40px;
  height: 40px;
  margin: 18px auto 0 calc(((100% - 1140px) / 2) + -22px);
  padding: 0;
}

.u-section-4 .u-text-2 {
  text-transform: none;
  font-size: 1.125rem;
  margin: -34px auto 0 calc(((100% - 1140px) / 2) + 42px);
}

.u-section-4 .u-icon-4 {
  width: 40px;
  height: 40px;
  margin: 21px auto 0 calc(((100% - 1140px) / 2) + -20px);
  padding: 0;
}

.u-section-4 .u-text-3 {
  text-transform: none;
  font-size: 1.125rem;
  margin: -34px auto 0 calc(((100% - 1140px) / 2) + 42px);
}

.u-section-4 .u-icon-5 {
  width: 40px;
  height: 40px;
  margin: 20px auto 0 calc(((100% - 1140px) / 2) + -20px);
}

.u-section-4 .u-text-4 {
  text-transform: none;
  font-size: 1.125rem;
  margin: -34px auto 0 calc(((100% - 1140px) / 2) + 41px);
}

.u-section-4 .u-icon-6 {
  width: 40px;
  height: 40px;
  margin: 20px auto 0 calc(((100% - 1140px) / 2) + -20px);
  padding: 0;
}

.u-section-4 .u-text-5 {
  text-transform: none;
  font-size: 1.125rem;
  margin: -34px auto 0 calc(((100% - 1140px) / 2) + 42px);
}

.u-section-4 .u-icon-7 {
  width: 40px;
  height: 40px;
  margin: 18px auto 0 calc(((100% - 1140px) / 2) + -20px);
}

.u-section-4 .u-text-6 {
  text-transform: none;
  margin: -33px auto 0 calc(((100% - 1140px) / 2) + 41px);
}

.u-section-4 .u-icon-8 {
  width: 40px;
  height: 40px;
  margin: 17px auto 0 calc(((100% - 1140px) / 2) + -20px);
}

.u-section-4 .u-text-7 {
  text-transform: none;
  margin: -33px auto 53px calc(((100% - 1140px) / 2) + 41px);
}

@media (max-width: 1199px) {
  .u-section-4 .u-form-1 {
    width: 470px;
  }

  .u-section-4 .u-icon-1 {
    margin-left: calc(((100% - 940px) / 2) + -20px);
  }

  .u-section-4 .u-icon-2 {
    margin-top: -41px;
    margin-left: calc(((100% - 940px) / 2) + -20px);
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 41px);
  }

  .u-section-4 .u-icon-3 {
    margin-left: calc(((100% - 940px) / 2) + -22px);
  }

  .u-section-4 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 42px);
  }

  .u-section-4 .u-icon-4 {
    margin-left: calc(((100% - 940px) / 2) + -20px);
  }

  .u-section-4 .u-text-3 {
    margin-left: calc(((100% - 940px) / 2) + 42px);
  }

  .u-section-4 .u-icon-5 {
    margin-left: calc(((100% - 940px) / 2) + -20px);
  }

  .u-section-4 .u-text-4 {
    margin-left: calc(((100% - 940px) / 2) + 41px);
  }

  .u-section-4 .u-icon-6 {
    margin-left: calc(((100% - 940px) / 2) + -20px);
  }

  .u-section-4 .u-text-5 {
    margin-left: calc(((100% - 940px) / 2) + 42px);
  }

  .u-section-4 .u-icon-7 {
    margin-left: calc(((100% - 940px) / 2) + -20px);
  }

  .u-section-4 .u-text-6 {
    margin-left: calc(((100% - 940px) / 2) + 41px);
  }

  .u-section-4 .u-icon-8 {
    margin-left: calc(((100% - 940px) / 2) + -20px);
  }

  .u-section-4 .u-text-7 {
    margin-left: calc(((100% - 940px) / 2) + 41px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-icon-1 {
    margin-left: calc(((100% - 720px) / 2) + -20px);
  }

  .u-section-4 .u-icon-2 {
    margin-left: calc(((100% - 720px) / 2) + -20px);
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 41px);
  }

  .u-section-4 .u-icon-3 {
    margin-left: calc(((100% - 720px) / 2) + -22px);
  }

  .u-section-4 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 42px);
  }

  .u-section-4 .u-icon-4 {
    margin-left: calc(((100% - 720px) / 2) + -20px);
  }

  .u-section-4 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2) + 42px);
  }

  .u-section-4 .u-icon-5 {
    margin-left: calc(((100% - 720px) / 2) + -20px);
  }

  .u-section-4 .u-text-4 {
    margin-left: calc(((100% - 720px) / 2) + 41px);
  }

  .u-section-4 .u-icon-6 {
    margin-left: calc(((100% - 720px) / 2) + -20px);
  }

  .u-section-4 .u-text-5 {
    margin-left: calc(((100% - 720px) / 2) + 42px);
  }

  .u-section-4 .u-icon-7 {
    margin-left: calc(((100% - 720px) / 2) + -20px);
  }

  .u-section-4 .u-text-6 {
    margin-left: calc(((100% - 720px) / 2) + 41px);
  }

  .u-section-4 .u-icon-8 {
    margin-left: calc(((100% - 720px) / 2) + -20px);
  }

  .u-section-4 .u-text-7 {
    margin-left: calc(((100% - 720px) / 2) + 41px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-icon-1 {
    margin-left: calc(((100% - 540px) / 2) + -20px);
  }

  .u-section-4 .u-icon-2 {
    margin-left: calc(((100% - 540px) / 2) + -20px);
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 41px);
  }

  .u-section-4 .u-icon-3 {
    margin-left: calc(((100% - 540px) / 2) + -22px);
  }

  .u-section-4 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2) + 42px);
  }

  .u-section-4 .u-icon-4 {
    margin-left: calc(((100% - 540px) / 2) + -20px);
  }

  .u-section-4 .u-text-3 {
    margin-left: calc(((100% - 540px) / 2) + 42px);
  }

  .u-section-4 .u-icon-5 {
    margin-left: calc(((100% - 540px) / 2) + -20px);
  }

  .u-section-4 .u-text-4 {
    margin-left: calc(((100% - 540px) / 2) + 41px);
  }

  .u-section-4 .u-icon-6 {
    margin-left: calc(((100% - 540px) / 2) + -20px);
  }

  .u-section-4 .u-text-5 {
    margin-left: calc(((100% - 540px) / 2) + 42px);
  }

  .u-section-4 .u-icon-7 {
    margin-left: calc(((100% - 540px) / 2) + -20px);
  }

  .u-section-4 .u-text-6 {
    margin-left: calc(((100% - 540px) / 2) + 41px);
  }

  .u-section-4 .u-icon-8 {
    margin-left: calc(((100% - 540px) / 2) + -20px);
  }

  .u-section-4 .u-text-7 {
    margin-left: calc(((100% - 540px) / 2) + 41px);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 837px;
  }

  .u-section-4 .u-form-1 {
    width: 340px;
    height: 409px;
    margin-top: 403px;
    margin-bottom: 0;
    margin-left: calc(((100% - 340px) / 2) + -22px);
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -803px;
    margin-left: calc(((100% - 340px) / 2) + -20px);
  }

  .u-section-4 .u-icon-2 {
    margin-left: calc(((100% - 340px) / 2) + -20px);
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 41px);
  }

  .u-section-4 .u-icon-3 {
    margin-left: calc(((100% - 340px) / 2) + -22px);
  }

  .u-section-4 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2) + 42px);
  }

  .u-section-4 .u-icon-4 {
    margin-left: calc(((100% - 340px) / 2) + -20px);
  }

  .u-section-4 .u-text-3 {
    margin-left: calc(((100% - 340px) / 2) + 42px);
  }

  .u-section-4 .u-icon-5 {
    margin-left: calc(((100% - 340px) / 2) + -20px);
  }

  .u-section-4 .u-text-4 {
    margin-left: calc(((100% - 340px) / 2) + 41px);
  }

  .u-section-4 .u-icon-6 {
    margin-left: calc(((100% - 340px) / 2) + -20px);
  }

  .u-section-4 .u-text-5 {
    margin-left: calc(((100% - 340px) / 2) + 42px);
  }

  .u-section-4 .u-icon-7 {
    margin-left: calc(((100% - 340px) / 2) + -20px);
  }

  .u-section-4 .u-text-6 {
    margin-left: calc(((100% - 340px) / 2) + 41px);
  }

  .u-section-4 .u-icon-8 {
    margin-left: calc(((100% - 340px) / 2) + -20px);
  }

  .u-section-4 .u-text-7 {
    margin-bottom: 60px;
    margin-left: calc(((100% - 340px) / 2) + 41px);
  }
} .u-section-5 {
  min-height: 228px;
}

.u-section-5 .u-group-1 {
  min-height: 226px;
  margin-top: 0;
  margin-bottom: 2px;
}

.u-section-5 .u-container-layout-1 {
  padding: 17px 50px 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 21px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: none;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 34px auto 0;
  padding: 2px 11px 2px 10px;
}

@media (max-width: 991px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}